*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    margin: 5%;
}

.head {
    text-decoration: underline;
    padding: 5% 5%;
    font-size: 50px;
}

nav, li {
    margin: 1.5rem;
    border: none;
}

ul {
    padding: 0;
    margin: 0;
}

.link:hover {
    background-color: #002b23;
}

.link {
    width: 100%;
    list-style-type: none;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 20px;
}

.link a {
    color: whitesmoke;
    text-decoration: none;    
}

.me{
    padding: 2% 5%;
}

li {
    margin: 0;
    border: none;
    background-color: #3d8361;
}

li a:hover {
    background-color: #002b23;
}
